# Database Configuration (PostgreSQL 17 + pgvector)
POSTGRES_DB=DB_NAME_HERE
POSTGRES_USER=USER_NAME_HERE
POSTGRES_PASSWORD=PASSWORD_HERE
POSTGRES_PORT=5432

# Keycloak Configuration
KEYCLOAK_PORT=PORT
KEYCLOAK_SERVER_URL=http://localhost:KEYCLOAK_PORT
KEYCLOAK_ADMIN_USER=ADMIN_USER_NAME
KEYCLOAK_ADMIN_PASSWORD=ADMIN_USER_PASSWORD
KEYCLOAK_REALM=REALM_NAME
KEYCLOAK_CLIENT_ID=CLIENT_NAME
KEYCLOAK_CLIENT_SECRET=CLIENT_SECRET
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/KEYCLOAK_REALM
KEYCLOAK_TOKEN_URI=http://localhost:8081/realms/KEYCLOAK_REALM/protocol/openid-connect/token

# AI Provider Credentials (Google Gemini & External Tools)
GEMINI_PROJECT_ID=PASTE_YOUR_PROJECT_ID_HERE
GEMINI_API_KEY=PASTE_YOUR_API_KEY_HERE
GEMINI_CHAT_MODEL=PASTE_YOUR_CHAT_MODEL_HERE

# External Web Search Tool API Key
TAVILY_API_KEY=PASTE_YOUR_TAVILY_API_KEY_HERE

# Application Server & Active Profile
SERVER_PORT=APPLICATION_PORT
SPRING_PROFILES_ACTIVE=PROFILE:dev
